Source: uniscan
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://sourceforge.net/projects/uniscan/
Vcs-Git: ssh://git@git.kali.org/packages/uniscan.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/uniscan.git;a=summary

Package: uniscan
Architecture: all
Depends: ${misc:Depends}, perl, libmoose-perl, perl-tk
Description: LFI, RFI, and RCE vulnerability scanner
 Uniscan is a simple Remote File Include, Local File Include and Remote 
 Command Execution vulnerability scanner.
